
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }
  .heading1{
    text-align: center;
    color: firebrick;
    font-size: 25px;
}
.heading2{
    color: rgb(10, 1, 1);
    text-align: center;
    
}
.card{
    
    margin-top: 20px;
}
.divcontact{
    margin-top: 15px;
    background-color: black;
}
.contactp{
    color: firebrick;
}